html{
    font-size:12px;
    /*height:100%;*/
}
body,div,ul,li,p,h1,h2,h3,h4,h5,dl,dt,dd,ol{
    margin: 0; padding: 0;
}
li{
    list-style: none;
}
.left{
    float:left;
}
.right{
    float:right;
}
body{
    font-family: "微软雅黑";
    box-sizing: border-box;
    color:#666666;
    background:#f0f0f0;
    width: 100%;
    height:100%;
    position: relative;
}
#information,#other,#supplement,#car,#house{
    margin-top:1rem;
    background:#ffffff;
}
#main{
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
}
/*客户信息样式*/
#information{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
#information ul{
    padding:0 0.8rem;
}
#information ul li{
    border-bottom: 1px solid #f0f0f0;
}
#information ul li:last-child{
    border-bottom: none;
}
#information ul li div{
    overflow: hidden;
    height:3.5rem;
    line-height: 3.5rem;
    font-size:1.4rem;
}
#information ul li div i{
    font-style: normal;
}
#information ul li div .right input{
    border:0;
    width:10rem;
    height:2.5rem;
    line-height: 2.5rem;
    text-align: right;
    font-size: 1.4rem;
    color:#666666;
}
/*客户其他信息样式*/
#other ul li div{
    overflow: hidden;
    height: 3.5rem;
    line-height: 3.5rem;
    padding:0 0.8rem;
    border-bottom: 1px solid #f0f0f0;
    font-size:1.4rem;
}
#other ul li div input{
    border:none;
    text-align: right;
    height:2.5rem;
    width: 12rem;
    line-height: 2.5rem;
    font-size:1.4rem;
    color:#666666;
}
#other ul li div span{
    display: inline-block;
}
#other ul li div span i{
    display:inline-block;
    position: relative;
    top:0.2rem;
    left:0.5rem;
    width: 1.2rem;
    height:1.2rem;
    background:url("../img/arrow.svg") no-repeat;
}
#other ul .occuPation,#other ul .leveL{
    display: none;
}
/*名下是否有车样式*/
#car ul li div{
    overflow: hidden;
    padding:1rem 0.8rem;
    border-bottom: 1px solid #f0f0f0;
    font-size:1.4rem;
}
#car ul li div img{
    width: 4rem;
    height:2rem;
}
/*名下是否有房贷样式*/
#house{
    margin:0;
}
#house ul li div{
    overflow: hidden;
    padding:1rem 0.8rem;
    border-bottom: 1px solid #f0f0f0;
    font-size:1.4rem;
}
#house ul li div img{
    width: 4rem;
    height:2rem;
}
/*补充样式*/
#supplement{
    color:#fec43f;
}
#supplement ul{
    overflow: hidden;
    padding:0.8rem 0;
}
#supplement ul li{
    width: 49%;
    text-align: center;
    font-size:1.4rem;
}
#supplement ul li:nth-child(1){
    border-right: 1px solid #f0f0f0;
}
/*提交样式*/
#sure{
    box-sizing: border-box;
    width:100%;
    position: relative;
    bottom:1rem;
    padding:3% 2%;
    text-align: center;
}
#sure button{
    border:0;
    color:#ffffff;
    width:96%;
    background:#fec43f;
    font-size:1.4rem;
    padding:0.5rem 0;
    border-radius: 0.5rem;
}
/*下次勾选样式*/
#submitSure{
    position: relative;
    box-shadow: 0px -4px 15px rgba(0,0,0,0.2);
}
#submitSure>div{
    padding:1.5rem 0 1rem 0.8rem;
    background:#ffffff;
}
#submitSure .top{
    position: relative;
}
#submitSure>div p{
    text-align: center;
    font-size: 1.4rem;
    color: #ffbb24;
}
#submitSure .top .close{
    position: absolute;
    width:1.5rem;
    height:1.5rem;
    display: inline-block;
    text-align: center;
    top:0.5rem;
    right: 0.5rem;;
    border:0;
    background:#ffbb24;
    color:#ffffff;
    padding:0;
    border-radius: 50%;
}
#submitSure ul{
    background:#ffffff;
}
#submitSure ul li {
    padding:0 0.8rem;
    height:5rem;
    overflow: hidden;
}
#submitSure ul li:nth-child(1){
    border-bottom: 1px solid #dddddd;
}
#submitSure ul li:nth-child(2){
    border-bottom: 1px solid #dddddd;
}
#submitSure ul li .left{
    padding:0.5rem 0 0 0;
}
#submitSure ul li .left span{
    font-size:1rem;
    color:#b2b2b2;
}
#submitSure ul li .left p{
    font-size: 1.4rem;
    color:#666666;
}
#submitSure ul li .left i{
    position: relative;
    bottom: 0.2rem;
    left:0.2rem;
    display: inline-block;
    font-style: normal;
    border:1px solid #3abb00;
    color: #3abb00;
    font-size:1rem;
    border-radius: 1px;
}
#submitSure ul li>.right{
    width:2rem;
    height:5rem;
    line-height:6rem;
}
#submitSure ul li>.right img{
    display:inline-block;
}
#submitSure .BTN{
    box-sizing: border-box;
    width:100%;
    padding:3% 2%;
    margin: 0 0 3% 0;
    text-align: center;
    background: #ffffff;
}
#submitSure .BTN  button{
    border:0;
    color:#ffffff;
    width:96%;
    background:#fec43f;
    font-size:1.4rem;
    padding:0.5rem 0;
    border-radius: 0.5rem;
}
/*遮照层*/
#layer{
    display: none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
}
/*d动画*/
#animation{
    display: none;
    position: absolute;
    width:100%;
    height:24rem;
    left:0;
    bottom:-30rem;
    background:#F0F0F0;
    padding:0 0 3% 0;
}